[Unit]
Description=A simple daemon that helps you monitor docker containers by maintaining PID files for them.
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-pidwatch

[Install]
WantedBy=multi-user.target
